<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
  <div class="container">
    <div class="row">
      <div class="col">
      <img src="netzwerk.png" style="width:22%;"/>
         </div>
        <div class="col">
       <img src="bank-konto.png" style="width:25%;"/>
         </div>
     </div>
   </div>
 <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://trilby.media">Trilby Media</a>.</p> 
   </section>
</section>
